.tempHero {
  background-image: url("https://img.freepik.com/free-photo/close-up-image-programer-working-his-desk-office_1098-18707.jpg?t=st=1718905534~exp=1718909134~hmac=188908c8ac66d7843eb3a335903cef52e735d13d2e3fdf612a0845c11cee9b3a&w=1380");
  background-position: center;
  background-size: cover;
}
